APP_NAME="Mazal Catalog"
APP_ENV=local
APP_DEBUG=true
APP_URL=http://localhost/mazal-site/public
APP_TIMEZONE=Europe/Madrid

DB_HOST=127.0.0.1
DB_PORT=3306
DB_NAME=mazal_db
DB_USER=root
DB_PASSWORD=

SESSION_NAME=mazal_session
